#table th {
    padding: 10px 5px;
}
#table td {
    padding: 7px 5px;
    word-break: break-all;
}
.widget-body .form-inline {
	display: inline-block;
	position: absolute;
	left: 42%;
	top: -2px;
}