.forbid {
    cursor: url(/img/forbid_small.png), auto !important;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    border-color: #f3f3f3 !important;
}

.navbar-logo {
    line-height: 45px;
    padding-left: 25px !important;
}

.navbar-menu {
    position: absolute;
    left: 240px;
    height: 45px;
    font-size: 15px;
    line-height: 45px;
    font-family: Microsoft yahei; 
}

.navbar-menu a {
    text-decoration: none;
    color: #fff;
}

.navbar-menu .btn-default a {
    color: #686868;
}

.navbar-menu div {
    display: inline-block;
    margin-left: 5px;
}

.navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 10px;
    line-height: 25px;
}

.change-version {
    display: inline-block;
    color: #fff !important;
    position: absolute;
    right: 165px;
    top: 14px;
    z-index: 10;
}

.friend-area a {
    text-align: left;
    display: inline-block;
    padding-left: 5px !important;
    padding-bottom: 5px !important;
    padding-top: 3px !important;
    font-size: 13px !important;
    line-height: 18px !important;
    color: #262626 !important;
}

.friend-area a:hover {
    color: #11a9cc !important;
}
        
.menu-focus {
    background-color: #fff;
    border-radius: 1px;
    color: #383838 !important;
    text-align: center;
    padding: 4px;
    margin-right: 10px;
}
#sidebar-collapse {
    left: 225px;
    padding-top: 5px;
}
#logo {
    padding-left: 10px;
}

#navbar-menu {
    left: 280px;
}
  
.navbar-menu a:focus,
.navbar-menu a:hover{
    background-color: #fff !important;
    border-radius: 0px;
    color: #686868;
}

.menu {
    margin-right:10px;
    text-align:center;
    padding:5px;
}
.page-body {
    background: #eee;
    padding: 10px 10px 10px;
}
.block-default {
    margin: 5px;
    padding: 5px;
    display: block;
}
.well {
    margin-bottom: 10px;
}
.alert {
    margin-bottom: 10px;
}
.table-title th {
    text-align: center !important;
}
.table-text {
    text-align: left !important;
}
.table-number {
    text-align: right !important;
}
[type="checkbox"] ~ .text:before,
[type="checkbox"]:checked ~ .text:before {
    min-width: 14px !important;
    height: 14px !important;
    font-size: 12px !important;
}

.modal-dialog {
    width: 56% !important;
    /* margin: 60px auto !important; */
}

.others {
    display: inline-block;
    margin-top: 19px;
    height: 12px;
    line-height: 12px;
}

.others a {
    font-size: 12px;
    padding-right: 10px;
    /* color: #fff1a8 !important; */
    color: #fff !important;
}

.others a:hover {
    background: none !important;
    color: #fff !important;
    cursor: pointer;
    text-decoration: underline;
}

.footer:before{
    clear:both;
}
