* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 3.5rem;
}

.cover {
    position:fixed; top: 0px; right:0px; bottom:0px;filter: alpha(opacity=60); background-color: #777;
    z-index: 99; left: 0px; display:none;
    opacity:0.5; -moz-opacity:0.5;
}

main {
    width: 100%;
}

.search-top {
    width: 40%;
}

.modal-open {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    width: 100%;
}

.modal {
    position: fixed;
    top: 38%; 
    right: 0;
    bottom: auto; 
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.alert {
    padding: .45rem 1.25rem !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .navbar-brand {
        margin-right: 0 !important;
        /*margin-left: 2rem;*/
    }

    .search-top {
        width: 50%;
    }

    .product-items {
        justify-content: center; !important;
    }

    .product-item {
        width: 98% !important;
    }

    .end {
        border-right: 1px solid #f5f5f5 !important;
    }

    .first-items {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        position: relative !important;
        flex-wrap: nowrap !important;
    }

    #promotion {
        flex-wrap: wrap;
    }

    .promotion-item {
        width: 98% !important;
        margin-bottom: 1%;
    }

    #carouselIndicators, #carouselIndicators img {
        height: 150px !important;
    }

    #package {
        flex-wrap: wrap;
    }

    #package .card {
        width: 98% !important;
    }

    .navbar-toggler {
        display: none;
    }

    #menu_list {
        width: 26% !important;
    }

    #order_scroll {
        width: 70% !important;
    }

    .order-product {
        width: 98% !important;
    }

    .product-item {
        border-left: none !important;
        border-right: none !important;
    }

    .first-rec {
        flex-direction: column !important;
        flex-wrap: wrap;
        justify-content: flex-start !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .navbar-brand {
        margin-right: 0 !important;
        /*margin-left: 2rem;*/
    }

    .search-top {
        width: 50%;
    }

    .product-items {
        justify-content: center !important;
    }

    .product-item {
        width: 98% !important;
    }

    .end {
        border-right: 1px solid #f5f5f5 !important;
    }

    .first-items {
        width: 100% !important;
        display: flex !important;
        justify-content: flex-start !important;
        position: relative !important;
    }

    #promotion {
        flex-wrap: wrap;
    }

    .promotion-item {
        width: 98% !important;
        margin-bottom: 1%;
    }

    #carouselIndicators, #carouselIndicators img {
        height: 150px !important;
    }

    #package {
        flex-wrap: wrap;
    }

    #package .card {
        width: 98% !important;
    }

    .navbar-toggler {
        display: none;
    }

    #menu_list {
        width: 26% !important;
    }

    #order_scroll {
        width: 70% !important;
    }

    .order-product {
        width: 98% !important;
    }

    .product-item {
        border-left: none !important;
        border-right: none !important;
    }

    .first-rec {
        flex-direction: column !important;
        flex-wrap: wrap;
        justify-content: flex-start !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    #suc.card{
        width: 30% !important;
        margin: 0 auto !important;
    }

    #type_content {
        width: 30%;
        margin: 0 auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    #suc.card{
        width: 30% !important;
        margin: 0 auto !important;
    }

    #type_content {
        width: 30%;
        margin: 0 auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #suc.card{
        width: 30% !important;
        margin: 0 auto !important;
    }

    #type_content {
        width: 30%;
        margin: 0 auto;
    }
}