* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 3.5rem;
}

.cover {
    position:fixed; top: 0px; right:0px; bottom:0px;filter: alpha(opacity=60); background-color: #777;
    z-index: 99; left: 0px; display:none;
    opacity:0.5; -moz-opacity:0.5;
}

main {
    width: 100%;
}

.search-top {
    width: 40%;
}

.modal-open {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    width: 100%;
}

.modal {
    position: fixed;
    top: 38%; 
    right: 0;
    bottom: auto; 
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.alert {
    padding: .45rem 1.25rem !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 320px) {
    .navbar-brand {
        margin-right: 0 !important;
    }

    .search-top {
        width: 50% !important;
    }

    .product-card-img {
        width: 32% !important;
    }

    .product-card-content {
        width: 66% !important;
    }

    .product-items {
        display: block !important;
    }

    .product-item {
        width: 100% !important;
        margin-left: 0 !important;
        border-left: none !important;
        border-right: none !important;
    }

    .product-item-content {
        display: block !important;
    }

    .promotion-item-right img {
        height: 70% !important;
    }

    .end {
        border-right: 1px solid #f5f5f5 !important;
    }

    .promotion-item {
        width: 100% !important;
        display: block !important;
    }

    .promotion-item-down {
        padding-top: none !important;
    }

    #carouselIndicators, #carouselIndicators img {
        height: 150px !important;
    }

    .package-content {
        display: table !important;
        width: 100% !important;
        margin-bottom: 5px;
    }

    .navbar-toggler {
        display: none;
    }

    #menu_list {
        width: 23% !important;
    }

    #order_scroll_container {
        width: 76% !important;
    }

    .order-product {
        width: 98% !important;
    }

    .label-items {
        display: block !important;
        float: none !important;
        margin-top: 5px;
    }

    .label-item {
        font-size: 12px !important;
        padding: 3px 3px !important;
    }

    .promotion-item-right img {
        height: 120px !important;
    }

    .product-card-img img.prodcut_img {
        height: 100px !important;
    }

    .promotion-item-left-content-top {
        font-size: 18px !important;
    }

    .promotion-item-left-content-bottom {
        font-size: 12px !important;
    }

    #ask.right-arrow {
        width: 25% !important;
    }

    #express_time.right-arrow {
        width: 20% !important;
    }

    #coupon_detail.right-arrow {
        width: 23% !important;
    }

    #product-arrow.right-arrow {
        width: 20% !important;
    }

    .status-item {
        font-size: 13px !important;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 321px) and (max-width: 575px) {
    .navbar-brand {
        margin-right: 0 !important;
        /*margin-left: 2rem;*/
    }

    .search-top {
        width: 50% !important;
    }

    .product-items {
        display: block !important;
    }

    .product-item {
        width: 100% !important;
        margin-left: 0 !important;
        border-left: none !important;
        border-right: none !important;
    }

    .product-item-content {
        display: block !important;
    }

    .end {
        border-right: 1px solid #f5f5f5 !important;
    }

    .promotion-item {
        width: 100% !important;
        display: block !important;
    }

    .promotion-item-down {
        padding-top: 0 !important;
    }

    #carouselIndicators, #carouselIndicators img {
        height: 150px !important;
    }

    .package-content {
        display: table !important;
        width: 100% !important;
        margin-bottom: 5px;
    }

    .navbar-toggler {
        display: none;
    }

    #menu_list {
        width: 20% !important;
    }

    #order_scroll_container {
        width: 79% !important;
    }

    .order-product {
        width: 98% !important;
    }

    .label-items {
        display: block !important;
        float: none !important;
        margin-top: 5px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .navbar-brand {
        margin-right: 0 !important;
        /*margin-left: 2rem;*/
    }

    .search-top {
        width: 50%;
    }

    .product-items {
        display: block !important;
    }

    .product-item {
        width: 100% !important;
        margin-left: 0 !important;
        border-left: none !important;
        border-right: none !important;
    }

    .product-item-content {
        display: block !important;
    }

    .end {
        border-right: 1px solid #f5f5f5 !important;
    }

    .promotion-item {
        width: 100% !important;
        display: block !important;
    }

    .promotion-item-down {
        padding-top: 0 !important;
    }

    #carouselIndicators, #carouselIndicators img {
        height: 150px !important;
    }

    .package-content {
        display: table !important;
        width: 100% !important;
    }

    .navbar-toggler {
        display: none;
    }

    #menu_list {
        width: 20% !important;
    }

    #order_scroll_container {
        width: 79% !important;
    }

    .order-product {
        width: 98% !important;
    }

    .label-items {
        display: block !important;
        float: none !important;
        margin-top: 5px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #suc.card{
        width: 30% !important;
        margin: 0 auto !important;
    }

    #type_content {
        width: 30%;
        margin: 0 auto;
    }

    a.promotion-page-item {
        display: inline-table !important;
        width: 49% !important;
    }

    .navbar {
        display: flex !important;
    }

    .navbar-brand {
        display: inline !important;
    }

    .search-top {
        display: inline-block !important;
    }

    .top-customer {
        display: inline !important;
    }

    .order-product {
        width: 49% !important;
    }
}
